.ClassCheckWrapper {
  display: flex;
}

.ClassCheckWrapper > .LabCategory {
  display: flex;
  position: absolute;
  left: 320px;
  width: 1390px;
  bottom: 23px;
  height: 830px;
  flex-direction: row;
  background: #e4e8ef;

  justify-content: center;
}

.ClassCheckWrapper > .LabCategory > div {
  display: flex;
  height: calc(100vh - 20vh);
  width: calc(100vw - 70vw);
  border-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 30px;
  padding-left: 80px;

  align-items: center;

  color: #000;
  font-family: "SBAggroB";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ClassCheckWrapper > .HeaderBar {
  display: flex;
  position: absolute;

  flex-direction: row;
  left: 320px;
  height: 100%;
  width: 1390px;
  background: #f6f7f9;
  justify-content: right;
}

.ClassCheckWrapper > .NoneClick {
  color: #000;
  font-family: "SBAggroB";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 50px;
  margin-top: 25px;
}

.ClassCheckWrapper > .Room {
  color: #004ba4;
  font-family: "SBAggroB";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 50px;
  margin-top: 25px;
}

.ClassCheckWrapper > .ClassSelected {
  color: #004ba4;
  font-family: "SBAggroB";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 50px;
  margin-top: 25px;
}

.ClassCheckWrapper > .DetailStudentName {
  width: 80vw;
  height: 8vh;

  border-radius: 10px;
  background: #f6f7f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 3vh;
  margin-left: 5vw;

  padding-left: 2vw;

  display: flex;
  align-items: center;
}

.ClassCheckWrapper > .DetailStudentName:nth-child(1) {
  margin-top: 7vh;
}

.ClassDetailStudentName {
  width: 80vw;
  height: 8vh;

  border-radius: 10px;
  background: #f6f7f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 3vh;
  margin-left: 5vw;

  padding-left: 2vw;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.ClassDetailStudentName:nth-child(1) {
  margin-top: 7vh;
}
