* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  position: absolute;
  left: 320px;
  width: 1580px;
  bottom: 0px;
  height: 800px;
  flex-direction: column;
  background: #e4e8ef;
  border-radius: 10px;
}
.main > div {
  height: 80px;
  border-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 30px;
}
.header-bar {
  display: flex;
  position: absolute;

  flex-direction: row;
  left: 320px;
  height: 100px;
  width: 1580px;
  background: #f6f7f9;
  justify-content: right;
}
